@font-face {
    font-family: RobotoMono;
    src: url("RobotoMono-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: RobotoMono, serif;
    color: #182B42;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

table {
    width: 20%;
    border: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: collapse;
}

.container {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(237, 247, 252, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    max-height: 90vh;
    max-width: 90%;
}

#goldChart {
    max-width: 90%;
}

hr {
    border: none;
    height: 1px;
    background-color: #182B42;
    width: 90%;
    margin-top: 4em;
}